<div class="container">

    <div class="rounded bg-primary shadow p-2 mt-5">
        <h2 class="text-center">General admins commands</h2>
        <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#addUser">Create new user</button>
        <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#addRole">Create new role</button>
        <a class="btn btn-block btn-warning" href="/admin/logs?page=1">Logs</a>
    </div>
</div>

<%- include("./modals/new-role")  %> 
<%- include("./modals/new-user")  %> 