<div class="container">
    <form action="/admin/add-role?_csrf=<%= _csrf %>" method="post">
        <label for="">Role name</label>
        <input type="text" name="name">
        <button type="submit">Submit</button>
    </form>
</div>