<div class="container bg-primary rounded p-3 mt-5">
    <h1 class=""><%= table.tableName %></h1>
    <form action="/table/add/<%= table._id %>" method="post">
        <div id="appendRow" class="bg-secondary p-2 rounded ">
            <h1 class="text-center">Rows</h1>
            <% for( let i = 0; i < table.rows[0].length; i++ ) { %>
                <div id="row" class="form-group">
                    <label for="exampleInputPassword1"><%= table.rows[0][i] %></label>
                    <input required name="<%= table.rows[0][i] %>" class="form-control">
                </div>
            <% } %>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>