<div class="container">
    <div class="rounded bg-primary shadow p-2 mt-5">
        <h2 class="text-center">General items</h2>
        <a href="/table" class="btn btn-block btn-warning">Tables</a>
        <a href="/notis" class="btn btn-block btn-warning">Notis</a>
    </div>
</div>