.notis {
    position: absolute;
    z-index: 9;
    width: 400px;
    background-color: #edf053;
    border: 2px solid #4eec3f;
    word-break: break-all;
}
  
.notisHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    
    background-color: #d4d64b;
    color: rgb(34, 33, 33);
}

#boxNotis {
    max-height: 350px;
    overflow: auto;
}