<div class="rounded mx-auto d-block">
      <div class="card text-white" style="width: 30rem;">
          <%- include('./print-file-info')  %>
          <img src="/explorer/file/<%= file.name %>" width="100" class="card-img" alt="">
      </div>
</div>