<div class="container bg-primary rounded p-3 mt-5">
    <form action="/notis/create" method="post">
        <div class="form-group">
            <label>Notis name</label>
            <input required name="name" class="form-control" placeholder="Notis name">
        </div>
        <div class="form-group">
            <label>Color</label>
            <input class="form-control" type="color" required name="color">
        </div>
        <div class="form-group">
            <label>Width</label>
            <input class="form-control" required name="width" value="200">
        </div>
        <div class="form-group">
            <label>Height</label>
            <input class="form-control" required name="height" value="200">
        </div>
        <div class="form-group">
            <label>Information</label>
            <textarea required name="information" rows="3" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>