<div class="container mt-5">
    <a class="btn btn-warning btn-block" href="/notis/create">Create new notis</a>
    <div class="mt-3">
        <% if (notis.length > 0) { %>
            <% notis.forEach(n => { %>
                <a class="btn btn-<% if (n.active) { %>success<% } else { %>danger<% } %> btn-block" href="/notis/edit/<%= n._id %>"><%= n.name %></a>
            <% }) %>
        <% } %>
    </div>
</div>